
.icon-camera:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-back:before { content: '\e804'; } /* '' */
.icon-phone-outline:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-attention:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
